<div class="fb-img">
    <img src="https://images.unsplash.com/photo-1668104365801-07d269fda1dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3M3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="fb-img">
</div>
<!-- <i class="fas fa-thumbs-up" [class.addcolor]="islike" (click)="onthumb()"></i><span>{{likecounts}}</span><i class="fas fa-thumbs-down" [class.addcolor]="!islike" (click)="onthumb()"></i> -->
<i class="fas fa-thumbs-up" [class.addblue]="islike" (click)="onthumbup()"></i><span>{{likecounts}}</span><i class="fas fa-thumbs-down" [class.addred]="!islike" (click)="onthumbdown()"></i>